@model Senparc.Areas.Admin.Models.VD.IBaseAdminVD
@using System.Web.Mvc
@using Senparc.Web.UI
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">

        <!-- Bootstrap -->
        <link href="~/bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/bower_components/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/bower_components/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- PNotify -->
        <link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
        @*<link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">*@
        <!-- Sweetalert -->
        <link href="~/bower_components/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- Custom Theme Style -->
        <link href="~/bower_components/gentelella/build/css/custom.css" rel="stylesheet">
        <!--Public Pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base CustomStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">

        <!-- Bootstrap -->
        <link href="~/bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/bower_components/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/bower_components/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- PNotify -->
        <link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
        @*<link href="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">*@
        <!-- Sweetalert -->
        <link href="~/bower_components/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- Custom Theme Style -->
        <link href="~/bower_components/gentelella/build/css/custom.min.css" rel="stylesheet">
        <!--Public Pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base CustomStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)

</head>
<body class="nav-md">
    @RenderSection("modal", false)
    <div class="container body">
        <div class="main_container">
            <!-- sidebar-->
            <partial name="_MenuPartial" model="@Model" />

            <!-- top navbar-->
            <partial name="_HeaderPartial" />

            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                @ViewData["Title"]
                                <small> @RenderSection("explanations", false)</small>
                            </h3>
                            <ol class="breadcrumb">
                                @RenderSection("breadcrumbs", false)
                            </ol>
                        </div>
                        <div class="title_right">
                            @RenderSection("filter",false)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    @RenderBody()
                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year -  <a href="#">广西索骏科技</a>
                    <div id="btn_test"></div>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @*本地*@
    <environment include="Development">
        <!-- jQuery -->
        <script src="~/bower_components/gentelella/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/bower_components/gentelella/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/bower_components/gentelella/vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="~/bower_components/gentelella/vendors/iCheck/icheck.min.js"></script>
        <!-- PNotify -->
        <script src="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.js"></script>
        <script src="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <!-- Sweetalert -->
        <script src="~/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
        <!-- validator -->
        <script src="~/bower_components/gentelella/vendors/validator/validator.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/bower_components/gentelella/build/js/custom.js"></script>
        <script src="~/js/base.js"></script>

    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- jQuery -->
        <script src="~/bower_components/gentelella/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/bower_components/gentelella/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/bower_components/gentelella/vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="~/bower_components/gentelella/vendors/iCheck/icheck.min.js"></script>
        <!-- PNotify -->
        <script src="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.js"></script>
        <script src="~/bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <!-- Sweetalert -->
        <script src="~/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
        <!-- validator -->
        <script src="~/bower_components/gentelella/vendors/validator/validator.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/bower_components/gentelella/build/js/custom.min.js"></script>
        <script src="~/js/base.js"></script>

    </environment>
    <script>
        $(function () {
            //访问量统计
            //var _hmt = _hmt || [];
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cff4d7b0f55e45ceab91d2197cb95cdc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);


            $("#btn_test").click(function () {
                $.ajax({
                    url: 'http://221.7.253.6:9019/home/testpost/token',
                    type: 'get',
                    headers: {
                        'Authorization': 'bearer ' +'QRM5djJffOLBQzufLzE_B0tOnm7t8slCAyOvWjxsYlvAYoGAcc-_Bk1rKu34YKFnN-1Nk8oSY34d30VN4MLQ0_fGYhR6Zm3nVIYM-osSM7FDi9evkx7CE0SxPThD9xk3Iq0E83YLeTIyHkpewrUsLP9B2QrWWkeAtizwM8Qev8dQOFgtiL3lWWUteaxqLOClbQgbKgj6jQEwQZw0d6mQU_Z0fz0VwOPn3pmaWytQwAo'
                    },
                    data: { 'type': '1' },    // post参数
                    dataType: 'json',
                    success: function (data) {
                        var _msg = "请求地址：/home/getlist\r\n";
                        _msg += "请求头：Authorization：" + 'bearer ' + $("#token").val() + "\r\n";
                        _msg += "返回结果：" + JSON.stringify(data);
                        $("#content").val(_msg);
                    },
                    error: function (err) {
                        alert('通信失败');
                        console.log(err);
                    }

                });
            });
        });
    </script>
    @RenderSection("scripts", false)
    @Html.RenderMessageBox()
</body>

</html>
